[submodule "edge"]
	path = edge
	url = https://github.com/Khoaitay51/SmartCampus-edge.git
[submodule "firmware"]
	path = firmware
	url = https://github.com/Khoaitay51/SmartCampus-firmware.git
[submodule "AI"]
	path = AI + Backend
	url = https://github.com/Khoaitay51/SmartCampus-AI.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/bh-dslog25/SmartCampus-frontend
