[submodule "SmartCampus-firmware"]
	path = SmartCampus-firmware
	url = https://github.com/Khoaitay51/SmartCampus-firmware.git
[submodule "SmartCampus-backend"]
	path = SmartCampus-backend
	url = https://github.com/Khoaitay51/SmartCampus-backend.git
[submodule "SmartCampus-edge"]
	path = SmartCampus-edge
	url = https://github.com/Khoaitay51/SmartCampus-edge.git
[submodule "backend"]
	path = backend
	url = https://github.com/Khoaitay51/SmartCampus-backend.git
[submodule "edge"]
	path = edge
	url = https://github.com/Khoaitay51/SmartCampus-edge.git
[submodule "firmware"]
	path = firmware
	url = https://github.com/Khoaitay51/SmartCampus-firmware.git
